/*
    --- List of Contents ---
    # General Styling
    # Card Styling
    # Credits Styling (footer)
    # Header/Nav Styling (header)
    - inspiration: https://codepen.io/linux/pen/aEQKWP

*/

/*
    -------------------------
    --- # General Styling ---
    -------------------------
    ToDo:
        - Fix comments on #General Styling
        - Check to see if works on all browsers
*/
/* Variables */
:root {
    /* Color Palette */
    --primary-color: #F6F3ED;
    --primary-contrast-color: #090c12;
    --secondary-color: #E90D2C;
    --secondary-constrast-color: #16f2d3;

    /* General Styling Variables */
    --general-border-radius: 10px;
    --general-space-small-n1: 4px; /* Formula: 4*small-n1 */
    --general-space-small-n2: 8px; /* Formula: 4*small-n2 */
    --general-space-small-n3: 12px; /* Formula: 4*small-n3 */
    --general-space-small-n4: 16px; /* Formula: 4*small-n4 */
    --general-space-small-n5: 20px; /* Formula: 4*small-n5 */
    --general-space-big-n1: 27px; /* Formula: Approximation of (small-n5)^(1 + 0.1 * big-n1) */
    --general-space-big-n2: 36px; /* Formula: Approximation of (small-n5)^(1 + 0.1 * big-n2) */
    --general-space-big-n3: 49px; /* Formula: Approximation of (small-n5)^(1 + 0.1 * big-n3) */
    --general-space-big-n4: 66px; /* Formula: Approximation of (small-n5)^(1 + 0.1 * big-n4) */
    --general-space-big-n5: 89px; /* Formula: Approximation of (small-n5)^(1 + 0.1 * big-n5) */

    /* Font and margin sizes */
    font-size: 20px;
    --primary-font: "Outfit";
    --fallback-font: sans-serif;
    --margin-xxs: 0.25rem; /* Formula: small-n1/16 */
    --margin-s: 0.75rem; /* Formula: small-n3/16 */
    --margin-m: 1.47rem; /* Formula: ((small-n5 + big-n1)/2)/16 */
    --margin-l: 3.06rem; /* Formula: big-n3/16 */
    --margin-xxl: 5.56rem; /* Formula: big-n5 /16 */
    --underline-margin-x: 0%;
    --headline-line-width: var(--general-space-big-n3);
    --headline-line-height: var(--margin-xxs);
    /*
        Middle of the first anchor element line by it's count (--page-count),
        accounting for subtraction of half of headline element line (--headline-line-width) so both align.
        Also accounts for if the underline (--underline-margin-y) of the anchor tag is trimmed.
    */
    --page-spacing: calc( var(--underline-margin-x) + ((100% / var(--page-count)) / 2 ) - (var(--headline-line-width) / 2) );


}
/* Basic reset for consistent styling */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Outfit";
    src: url("../media/Outfit.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
/* For phones (small screens) */
@media (max-width: 600px) {
    :root {
        font-size: 18px; /* Smaller font size on phones */
    }
}

/* For 16:9 aspect ratio screens (typical desktops) */
@media (min-width: 601px) and (max-width: 1280px) {
    :root {
        font-size: 18px; /* Slightly smaller font size for 16:9 */
    }
}

/* For ultra-wide screens (21:9) */
@media (min-width: 1281px) and (max-width: 2000px) {
    :root {
        font-size: 22px; /* Larger font size for ultra-wide screens */
    }
}

/* For very large screens (wider than 2000px) */
@media (min-width: 2001px) {
    :root {
        font-size: 24px; /* Large font size for very large screens */
    }
}
h1,h2,h3,h4,h5,h6 {
    font-family: var(--primary-font), var(--fallback-font);
}
h1 {
    font-size: var(--margin-l);
}
h2 {
    font-size: var(--margin-m);
}
h3 {
    font-size: var(--margin-m);
}
h4 {
    font-size: var(--margin-m);
}
h5 {
    font-size: var(--margin-s);
}
h6 {
    font-size: var(--margin-s);
}

body { /* <body> Tag Styling */
    background-color: var(--primary-color);
    overflow-wrap: break-word; /* Ensure long words break and wrap onto the next line */
    word-wrap: break-word;     /* Fallback for older browsers */
    white-space: normal;       /* Ensure text wraps normally */
}
a { /* <a> Tag Styling */
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    transition: color 0.2s ease;
}
a:is(:hover, :focus, :active) { /* <a> Tag Styling On Click And Hover*/
    color: var(--secondary-constrast-color);
    text-decoration: underline;
}
main {
    padding: var(--margin-m) var(--page-spacing); /* Responsive side gaps */

}
.video {
    max-width: 100%;
    margin: auto 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.video video {
    width: 100%;
    height: auto;
    border-radius: var(--general-border-radius);
    border: 2px solid var(--primary-contrast-color);
}
.image-figure{
    max-width: 100%;
    width: 100%;
    border-radius: var(--general-border-radius);
    overflow: hidden;
    border: 2px solid var(--primary-contrast-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-contrast-color);
}
.image-caption {
    color: var(--primary-color);
}
.image-figure img{
    width: 100%;
    height: auto;

}
.text-block *{
    padding: var(--margin-m) var(--margin-l);
    margin: 20px 0;
    line-height: 1.5;
}
.video-caption {
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
}
.headline {
    margin: var(--margin-m) 0;
    text-transform:uppercase;
    z-index: var(--page-3-depth-axis); /* z-index for .line */
    position: relative; /* relative for .line */
}
.headline p {
    font-size: 2rem;
    background-color: var(--primary-color); /* to cut of styling for .line by parent z-axis*/
}
.headline:before {
    content: "";
    background-color: var(--secondary-color);
    border-radius: var(--general-border-radius);
    display: block;
    height: var(--headline-line-height);
    width: var(--headline-line-width);
    margin-bottom: var(--margin-m);
}
/*
    Line that connects styling accent colors, takes use of other element(s) z-index.
    mentioned on specific elements where it is used by, e.g. "z-index for .line"
*/
.line-wrapper {
    position: relative;
}
#left-line {
    position: absolute;
    background-color: var(--secondary-color);
    border-radius: var(--general-border-radius);
    width: var(--margin-xxs);
    height: calc(var(--general-space-big-n5) * 4);
    top: 0;
    left: calc(var(--headline-line-width) / 2 ); /* Middle of .headline */
    z-index: var(--page-2-depth-axis);
}
.list { /*Always applied on ul element and li elements are its children*/
    position: relative;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: var(--general-border-radius);
    box-shadow: 0.5rem 0.5rem 0 0 var(--primary-contrast-color);
    border: 2px solid var(--primary-contrast-color);
    margin: 2rem 0;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 0 1rem;
}
.list .list{ /* List inside list */
    border: none;
    box-shadow: none;
    margin: 1rem;
    padding: 0.5rem;
}
/* For phones (small screens) */
@media (max-width: 600px) {
    .list {
        padding: 1rem 0.2rem;
    }
    .list .list {
        padding: 0;
        margin: 1rem 0;
    }
}
.list-header {
    margin: var(--margin-m) 0;
    text-transform:uppercase;
}
.list-header:before {
    content: "";
    background-color: var(--secondary-color);
    border-radius: var(--general-border-radius);
    display: block;
    height: var(--margin-xxs);
    width: 30vw;
}
.header-2 h4{
    text-align:center;
    text-transform:uppercase;
    letter-spacing: var(--margin-xxs);
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: var(--margin-xxs) 0;
    grid-gap: var(--margin-l);
    margin-top: var(--margin-l);
    align-items: center;
    color: var(--secondary-color);
}
.header-2 h4:before, .header-2 h4:after{
    content: "";
    display: block;
    border-bottom:  var(--margin-xxs) solid var(--primary-contrast-color);
    background-color: var(--primary-contrast-color);
    border-radius: var(--general-border-radius);
}
.line {
    display: block;
    width: 100%;
    border-bottom: var(--margin-xxs) solid var(--primary-contrast-color);
    margin: var(--margin-xxs) 0;
    margin-top: var(--margin-l);
    border-radius: var(--general-border-radius);
}



.list li:not(.list-header) {
    margin: 0.1rem 2rem;
}
/* For phones (small screens) */
@media (max-width: 600px) {
    .list li:not(.list-header) {
        margin: 0.1rem 0;
    }
}
.list.row-direction {
    flex-direction: row;
    flex-wrap: wrap;
}
.list.row-direction .list-header {
    flex: 1 1 100%; /* Ensure the header occupies the full first row */
}
.centered {
    padding: 2rem clamp(1rem, 10vw, 20vw);
}


/*
    ----------------------
    --- # Card Styling ---
    ----------------------
*/
/*
    Serves as the main container for the card element.
    It uses flex layout, enabling easy alignment and distribution of child elements.
    The border and border-radius properties give it a defined look with rounded corners.
    overflow: hidden prevents any child elements from extending beyond the card's boundaries, while margin: var(--margin-m) provides spacing around the card.

*/
.card {
    position: relative;
    display: flex;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: var(--margin-m);
    background-color: white;
    max-width: 100%;
}
/*
    Class acts as a flex container for the image and caption, aligning its children in a horizontal row.
*/
.card-figure {
    display: flex;
}
/*
    Defines a fixed width for the image, maintaining consistency across cards.
    The min-height ensures that the height accommodates the image and additional spacing for "pinning" and "extending",
    while height: auto allows for the container to extend alongside the text.

    NB: if it is a .card type that uses a image rather than text in the first place
*/
.card-figure-image {
    width: 150px;
    min-height: calc(150px + 24px * 3); /* Image height + extend height*/
    height: auto;
    background-color: var(--primary-color);
}
/*
    Targets the specific image within the card figure.
    It sets a fixed width and height, ensuring that the image remains contained within its designated space.
    The object-fit: cover property allows the image to fill the area while preserving its aspect ratio,
    cropping as necessary to prevent distortion.
*/
.card-figure-image #fig-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
/*
    This class is if one wants to use a headline/text instead of a image for the left side.
    It keeps from overflowing just in case and it sizes left box size.
*/
.card-figure-headline {
    overflow: hidden;
    min-width: 30vw;
    max-width: 40vw;
    height: auto;
    background-color: var(--primary-color);
}
/*
    This contains the text and header.
    It sizes y and x axis of distance in comparison to parent left box.

    It's pseudo class ":before" draw a small line on top of it, similar to the ".headline".
*/
.card-figure-headline-header {
    margin: var(--margin-m) var(--margin-s);
    font-size: var(--margin-m);
    text-transform: uppercase;
}
.card-figure-headline-header p {
    font-size: 2rem;
}
.card-figure-headline-header:before {
    content: "";
    background-color: var(--secondary-color);
    border-radius: var(--general-border-radius);
    display: block;
    height: var(--headline-line-height);
    width: var(--headline-line-width);
    margin-bottom: var(--margin-m);
}
/*
    The card button is positioned at the far right when using a headline instead of an image, with its width accounted for.
*/
.card-figure:has(.card-figure-headline-header) .card-figure-expand {
    position: absolute;
    top: 0;
    left: calc(100% - (24px * 3));
    width: calc(24px * 3);
    height: calc(24px * 3);
    z-index: var(--page-3-depth-axis);
}
/*
    Card caption (right side box) has all its elements hidden unless checked or hovered.
    We are able to emulate javascript clicking effects by using radio buttons on the html side and check if they are checked.

    NB: Distinct from a normal card, as it incorporates something other than text. Which is why I target with :has pseudo class
*/
.card-figure:has(.card-figure-headline-header) .card-figure-caption *{
    visibility: hidden;
}
/* Could include if also wanted hover.
.card-figure:has(.card-figure-headline-header) .card-figure-caption:is(:hover) *,
.card-figure:has(.card-figure-headline-header) .card-figure-expand:is(:hover) ~ .card-figure-caption *,
*/
.card-figure:has(.card-figure-headline-header) #toggle-expand:checked ~ .card-figure-caption *{
    visibility: visible;
}

/*
    Caption for the card is styled with padding to provide space around the text.
    The flex-grow: 1 property allows it to expand and fill any available space in the flex container.
    The overflow: hidden property is used to clip any overflowing text,
    while max-height is calculated to show only a limited number of lines before truncation occurs.

    The growth is the case for both,
    while the truncation is only true if there is direct text contained in it (to align it properly,
    so it does not look wonky.
*/
.card-figure-caption {
    line-height: 1.2;
}
.card-figure-caption {
    --line-amount: 6;
    --caption-padding: 20px; /* Need to also account for padding and margin for our formula. */
    padding: var(--caption-padding);
    flex-grow: 1; /* Allow caption to take remaining space */
    overflow: hidden;
    max-height: calc( 1rem * 1.2 * var(--line-amount) + var(--caption-padding)); /* Limit line height, formula: 1rem (font-size) * line-height factor * amount + top padding + bottom padding */
    position: relative;
    text-overflow: ellipsis; /* Show ellipsis for overflowing text */
    display: -webkit-box; /* Required for line clamping */
    -webkit-box-orient: vertical; /* Required for line clamping */
    -webkit-line-clamp: var(--line-amount); /* Show up to 6 lines before truncation */
    transition: max-height 0.5s ease-in-out;
}
/*
    On hover, the caption expands to reveal the full content, with the max-height set to 100%,
    which effectively removes the height restriction.
    The use of overflow: hidden prevents a scrollbar from appearing, while -webkit-line-clamp: unset removes the line limit,
    allowing the full text to be visible.
*/
/* Could include if also wanted hover.
.card-figure-caption:hover,
.card-figure-expand:hover ~ .card-figure-caption,
*/
#toggle-expand:checked ~ .card-figure-caption{
    max-height: 100%;
    overflow: hidden;
    -webkit-line-clamp: unset;
}
/*
    The toggle element is a checkbox that controls the expansion of the caption. It has no default appearance, making it customizable.
    When the checkbox is checked, the background color changes to the secondary color.
*/
#toggle-expand {
    appearance: none;
    -webkit-appearance: none; /* For Safari, and old */
    -moz-appearance: none; /* For Firefox */
    background-color: var(--primary-color);
    border-right: 2px solid var(--primary-contrast-color);
    transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
    pointer-events: none;

}
#toggle-expand:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 100%;
}
#toggle-expand:checked {
    background-color: var(--secondary-color);
}
/*
     Positions the expand button relative to the card.
     Using absolute positioning, it places the button directly below the image, centered horizontally.
*/
.card-figure-expand {
    position: absolute;
    top: calc(150px); /*Image height*/
    left: calc((150px - 24px * 3) /2); /*image width minus expand width divided by 2 to center position relative to image above it*/
    width: calc(24px * 3);
    height: calc(24px * 3);
}
/*
    Both images serve as icons for expanding or interacting with the card.
    They are absolutely positioned to fill their container completely
*/
#fig-expand, #fig-expand-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
    cursor: pointer;
}
/*
    When hovering over the expand button hover, it emphasizes that it is clickable.
    Uses ::before pseudo class as part of wrapper (can't be used directly on img) to rotate image without anything else being effected.

    The img is there to further emphesize that it is clickable (and its animation).
*/
.fig-expand-hover-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../media/weirdcircle.webp") center no-repeat;
    background-size: contain;
    animation: rotateBackground 5s linear infinite;
}
#toggle-expand:checked + .toggle-label .fig-expand-hover-wrapper::before,
.fig-expand-hover-wrapper:hover::before {
    background: none;
}

@keyframes rotateBackground {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*
    Colors by overlaying background-color on the button.
*/
#fig-expand-hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    mix-blend-mode: multiply; /* Ensures the color only affects non-transparent areas */
    z-index: 1;  /* Overlay appears above the background */
}
/*
    When hovering over the expand button or when the checkbox is checked,
    the opacity of the normal expand icon (#fig-expand) is set to 0,
    while the hover icon (#fig-expand-hover) becomes fully opaque.
*/
#fig-expand-hover,
.card-figure-expand:hover #fig-expand,
#toggle-expand:checked + .toggle-label #fig-expand{
    opacity: 0;
}
#fig-expand,
.card-figure-expand:hover #fig-expand-hover,
#toggle-expand:checked + .toggle-label #fig-expand-hover{
    opacity: 1;
}
#toggle-expand:checked + .toggle-label #fig-expand-hover{
    filter: brightness(0) saturate(100%);
}
/*
    Text inside of caption.
*/
.card-figure-caption p {
    margin: 0;
}
/*
    Refrence/source link of caption.
*/
.card-figure-caption-link {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 24px;
    margin-right: 24px;
    color: var(--secondary-color); /* For dash */
    font-size: 24px; /* For dash */
    font-weight: bold; /* For dash */
}
.card-figure-caption-link a {
    font-size: 24px;
}
.card-figure-caption-link span {
    position: relative;
}
/*
    Small svg icon to emphasize that it is a outgoing link.
*/
.card-figure-caption-link span img {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 24px;
    height: 24px;
}
.card-figure-caption-link:hover span img {
    filter: brightness(0) saturate(100%);
}
.card-figure-caption-link:hover {
    color: var(--primary-contrast-color); /* For dash in front of link */
}


/*
    ---------------------
    - # Footer Styling -
    ---------------------
    ToDo:
        - Fix comments on #Credits Styling
*/
.footer {
    position: relative;
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-contrast-color);
    border-radius: 85% 85% 0 0 / 30%; /* Opposite of header */
}
.footer-inside {
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: var(--primary-color);
    border-radius: var(--margin-xxl);
    display: flex;
    justify-content: center;
    align-items: center;
}


/*
    ---------------------
    - # Credits Styling -
    ---------------------
    ToDo:
        - Fix comments on #Credits Styling
*/

.credit-links {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
    padding: 1em 0.5em 1em 1em;
    background: var(--primary-color);
    border-radius: 0.5em 0 0 0.5em;
    box-shadow: -4px 0px 0px var(--secondary-color);
    transition: all 300ms ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.credit-links:hover {
    box-shadow: -8px 0px 20px var(--secondary-constrast-color);
    padding: 1em;
}
.credit-header {
    color: var(--primary-contrast-color);
}
.footer-link {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}
.footer-link a {
    color: var(--primary-contrast-color);
    transition: all 200ms ease;
    width: 24px;
    height: 24px;
}
.footer-link a:hover {
    filter: invert(77%) sepia(51%) saturate(683%) hue-rotate(110deg) brightness(95%) contrast(100%);
    transform: scale(1.1);
}
.footer-link a img {
    width: 100%;
    height: 100%;
}
.credit-face {
    width: 24px;
    height: 24px;
    overflow: hidden;
    border-radius: 50%;
}
.credit-face img{
    width: 100%;
    height: 100%;
}


/*
    ---------------------
    --- # Header/Nav Styling ---
    ---------------------
*/
/*
    The header is the inner layer ("main-header") that holds general elements like the logo and similar features,
    while the navigation is contained in the outer layer ("auxiliary-header").
    This setup creates an effect where, as you scroll, the top navigation disappears,
    but the aesthetic of certain navigation styles remains as you scroll down.
*/
body {
    position: relative;
}
:root {
    /*
        The difference in height between the outer and inner sections is needed to achieve the desired effect.
    */
    --header-outer-height: 300px;
    --header-inner-height: 185px;
    --header-height-difference: calc(
            var(--header-outer-height) - var(--header-inner-height)
    );

    /*
        Page color distinctions for color awareness in relation to each other.
        The amount of distinctions should also match --page-count.
    */
    --page-1-distinction: #000fff; /* Home page */
    --page-1-distinction-rgb: 0, 15, 255;
    --page-2-distinction: #00ff55; /* Accessibility page */
    --page-2-distinction-rgb: 0, 255, 85;
    --page-3-distinction: #FFC300; /* Activity page */
    --page-3-distinction-rgb: 255, 195, 0;
    --page-4-distinction: #a84a00; /* Github page */
    --page-4-distinction-rgb: 168, 74, 0;

    /*
        Z-axis variables for depth effects.
        The amount of distinctions should also match --page-count.
    */
    --page-1-depth-axis: 1; /* Home page */
    --page-2-depth-axis: 2; /* Accessibility page */
    --page-3-depth-axis: 3; /* Activity page */
    --page-4-depth-axis: 4; /* Github page */


}
/* Outer header (the one that disappears) that contains the navigation. */
.auxiliary-header {
    position: sticky;
    height: var(--header-outer-height);
    /* Space is used for navigation and cutting off to achieve the desired effect. */
    top: calc(var(--header-height-difference) * -1);
    background-color: var(--primary-contrast-color);
    background-repeat: repeat;
    background-size: auto;
    background-position: left top;
    border-radius: 0 0 85% 85% / 30%; /* Makes bottom circular-ish */
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: var(--page-4-depth-axis); /* Above other created elements in main */

}
/* Inner header, which cuts off its parent and creates the effect. */
.main-header {
    position: sticky;
    height: var(--header-inner-height);
    top: 0;
    background-color: var(--primary-contrast-color);
    width: 100%;
    border-radius: 0 0 85% 85% / 30%; /* Same as parent */
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Contains the assets */
.header-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*
    A wrapper class to center elements in the middle and ensure separation of concerns.
    NB: Used on the Activity Page.
*/
.header-element-center-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* Logo with additional auxiliary items and styling. */
.logo {
    max-width: 100px;
    max-height: 100px;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%; /* Same as Parent, make kinda look like banner */
}
.logo img { /* Image scales within container. */
    width: 100%;
    height: 100%;
}
/*
    Styling for poles that are placed at start and end of header-element. Page 1, 2 and 4 does not have .pole
    NB: Just for Activity page.
*/
.pole{
    height: var(--header-height-difference);
    transition: box-shadow 0.3s ease;
}
.auxiliary-header:has(#nav-3:checked) .pole {
    box-shadow: 0px 3px 1px -2px rgba(var(--page-3-distinction-rgb), 0.5);
}
.auxiliary-header:has(#nav-3:checked) .pole:hover {  /* Animation on hover to make the lightpole illuminate the supposed ground. */
    box-shadow: 0px 8px 3px -3px rgba(var(--page-3-distinction-rgb), 0.8);
    transform: scale(1.015) translateY(-1px);
}
/* Class that contains the text title of the current page. */
.site-current {
    display: flex;
    justify-content: center;

}
.site-current svg{
    width: 100%;
    height: 100%;
}
/* Arrows next to logo. */
.arrow-left, .arrow-right  {
    padding: 10px;
}



/* Navigation Bar*/
:root {
    /* Navigation properties: underline for the link, and the rest for animation logic. */
    --underline-height: var(--margin-xxs);
    --transition-duration : .5s;
    --page-count: 4; /* Total amount of page(s) in website. */
}
/* nav Styling */
.navbar {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: calc(var(--header-height-difference) / 2); /* Specific height that accounts for header effect spacing of inner header (main-header)*/
    width: 100%;
    justify-content: center;
    padding-bottom: var(--underline-height); /* For underline */
    margin-bottom: 2em; /* For underline */
}
.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row; /* Align left to right */
    align-items: center;
    justify-content: space-between; /* Space items evenly across full width */
    width: 100%;
}
.nav-item { /* .nav-item Class Styling Inside of .nav-list */
    text-align: center;
    width: 100%;
}
/* distinct and general styling for anchor tag */
.nav-link { /* .nav-link Class Styling Inside of .nav-item */
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1em;
    padding: 1em 0;
    transition: color 0.3s ease;
    font-family: 'Outfit', sans-serif; /* Same as h1, h2, ..., etc */
}
.nav-item:hover .nav-link { /* Run the color change effect when its parent is hovered. */
    color: lightcoral;
    transition: color 0.2s ease-in-out;
    animation: colorTransition 1.2s forwards;
}
@keyframes colorTransition {
    0% {
        color: lightcoral;
    }
    100% {
        color: var(--secondary-color);
    }
}
/*
    A distinct color for each nav link, serving as a form of color awareness, with a theme color specific to each page.
*/
.nav-item:has(#nav-1:checked) .nav-link:hover{
    text-decoration-color: var(--page-1-distinction);
    text-decoration-thickness: 3px;
}
.nav-item:has(#nav-2:checked) .nav-link:hover{
    text-decoration-color: var(--page-2-distinction);
    text-decoration-thickness: 3px;
}
.nav-item:has(#nav-3:checked) .nav-link:hover{
    text-decoration-color: var(--page-3-distinction);
    text-decoration-thickness: 3px;
}
.nav-item:has(#nav-4:checked) .nav-link:hover{
    text-decoration-color: var(--page-4-distinction);
    text-decoration-thickness: 3px;
}
/*
    Underline animation goes "Opened" position to closed when hovered. On the way back, when it is no longer hovered,
    it will have a trailing effect depending on which page it is at (using dynamic so called logical operations and color awareness).
*/
/* Hiding of checkbox logic (logic for dynamic operations of the nav and other elements that are targeted) */
#nav-1,
#nav-2,
#nav-3,
#nav-4{
    opacity: 0;
    position: absolute;
    pointer-events: none;
}
/* Underline styling and animation */
.underline {
    position: relative;
    height: var(--underline-height);
    width: 80%; /* For space/padding of the left and right sides of underline*/
    margin-left: 10%; /* Distance from left side to achive equal spacing of left and right */
    overflow: hidden;
    border-radius: 10px;
}
.color-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform var(--transition-duration) ease-in-out;
    border-radius: 10px;
}
/* Transition delay to add the trailing effect, achieved by transforming the x-axis position from left to right and back. */
.start-color {
    transition: transform calc(var(--transition-duration) * 1) ease-in-out;
}
.middle-color {
    transition: transform calc(var(--transition-duration) * 1.4) ease-in-out;
}
.end-color {
    transition: transform calc(var(--transition-duration) * 1.8) ease-in-out;
}
.nav-item:hover .nav-link + .underline .color-layer{
    transform: translateX(100%); /* Hover effect for the nav-link */
}
/* The underline color and animation trailing colors are distinct for each page. */
.nav-item input:checked + label .underline .start-color{
    background-color: lightcoral ;
}
.nav-item:has(#nav-1:checked) .underline .middle-color{
    background-color: var(--page-1-distinction);
}
.nav-item:has(#nav-2:checked) .underline .middle-color{
    background-color: var(--page-2-distinction);
}
.nav-item:has(#nav-3:checked) .underline .middle-color{
    background-color: var(--page-3-distinction);
}
.nav-item:has(#nav-4:checked) .underline .middle-color{
    background-color: var(--page-4-distinction);
}
.nav-item input:checked + label .underline .end-color{
    background-color: var(--secondary-color);
}
/* Default coloring of other underline locations, other than the current one, to emphasize that they are clickable as well. */
#nav-1:not(:checked) + label .underline,
#nav-2:not(:checked) + label .underline,
#nav-3:not(:checked) + label .underline,
#nav-4:not(:checked) + label .underline {
    background: var(--primary-color);
}